{% set domain = get_domain(request) %}
<!DOCTYPE html>
<html lang="en"
      data-theme="{{ domain.theme if domain else 'anchor' }}"
      data-default-theme="{{ domain.theme if domain else 'anchor' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Attam{% endblock %}
    </title>

    <!-- CSS Dependencies -->


    {# TODO : add if from_cdn #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="{{ deps.google_fonts }}" />
    <link rel="stylesheet" href="{{ deps.open_dyslexic_css }}" />
    <link rel="stylesheet" href="{{ deps.daisyui_css }}" />
    <link rel="stylesheet" href="{{ deps.daisyui_themes_css }}" />

    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ deps.app_root_css }}" />
    <link rel="stylesheet" href="{{ deps.app_global_css }}" />

    <!-- JavaScript Dependencies -->
    <script src="{{ deps.tailwind_js }}"></script>
    <script src="{{ deps.accessibility_manager_js }}"></script>


    {% include "specific_dependencies_per_domain.html" %}

    {% block head_extra %}{% endblock %}
  </head>

  <body class="bg-base-100">
    <!-- Navbar -->


    {% include "navbar.html" %}


    {% block content %}{% endblock %}

    <!-- Accessibility Modal -->
    {% include "accessibility/modal.html" %}
  </body>
</html>
